{{page-title "Board"}}
  <div style="text-align: right;">
    <button class="ui black button" {{action "section"}}>Sections<i class="icon arrow right"></i></button><br>
  </div>

  <div class="ui grid">
    <div class="column two wide"></div>
    <div class="column twelve wide">
      <fieldset>
        <div class="item">
          <h3>Orders</h3>
          <div class="ui celled list">
            {{#each @model.order as |order|}}
              <div class="item">
                <LinkTo @route="order" @model={{order.id}}>
                  <div class="content">
                    <div class="description">{{order.dateCreation}}</div>
                    <div class="ui circular label">{{order.orderdetails.length}}</div>
                  </div>
                </LinkTo>
              </div>
            {{/each}}
          </div>
        </div>
      </fieldset>
    </div>
  </div>
{{outlet}}